@import './variables.scss';

body{
  background: cyan;
  font-family: 'Karla', sans-serif;
  font-size: $font-size_16;
  color: black;
}

.container{
  position: absolute;
  display: grid;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 35rem;
  width: 45rem;
  grid-template-rows: 1fr 1.2fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px; 
}

.message{
  grid-column:  1 /span 2;
  grid-row: 1;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-top: 2rem;
  padding-left: 3rem;

  .main-heading {
    color: $grayish_blue;
  }

  .sub-heading {
    color: $bright_yellow;
  }
}

.offer{
  grid-column:  1;
  grid-row: 2;
  background:  $cyan;
  border-bottom-left-radius : 10px;

  padding-top: 2rem;
  padding-left: 3rem;

  .currency{
    font-size: 2rem;
    color: $white;
    font-weight: $font-weight_700;
  }

  .muted-text{
    color: $light_gray;
    font-size: 1.2rem;
    font-weight: $font-weight_400;
  }

  .signup-btn{
    height: 3.5rem;
    width: 80%;
    background: $bright_yellow;
    border: none;
    border-radius: 8px;
    color: $white;
    font-size: 1.2rem;
    font-weight: $font-weight_700;
    box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.56);

    &:hover{
      background: $btn_hover_colour;
      cursor: pointer;
    }
  }
}

.about-us{
  grid-column:  2;
  grid-row: 2;
  background: $grayish_blue;
  border-bottom-right-radius : 10px;

  padding-top: 2rem;
  padding-left: 3rem;

  .features{
    list-style: none;
    padding-left: 0;
    line-height: 1.4rem;
    li {
      color: $light_gray;
    }
  }
}

.info-text{
  color:$cyan;
  font-weight: 400;
  line-height: 2rem;

  &.white{
    color: $white;
  }
}

.secondary-heading{
  color: $white;
  font-size: 1.2rem;
}