$cyan : hsl(179, 62%, 43%);
$bright_yellow :hsl(71, 73%, 54%);
$light_gray: hsl(204, 43%, 93%);
$grayish_blue: hsl(218, 22%, 67%);


$font-size_16 : 16px;
$font-weight_400: 400;
$font-weight_700: 700;